body {
  font-family: 'Source Sans Pro', arial, helvetica, sans-serif;
  padding-bottom: 50px;
}
h3 {
  margin-top: 50px;
}
li {
  margin: 25px 50px 0 0;
}
table {
  width: 1400px;
  margin: 0 50px 0 50px;
}
td {
  width: 50%;
  vertical-align: top;
  padding-right: 60px;
}

.footer__root--2R7z_ {
  padding-top: 40px;
}
.footer__root--2R7z_ {
  padding: 80px 40px 25px;
  display: flex;
  flex-direction: column;
  color: #000;
  align-items: center;
}


.button__root--3TpUL {
  padding: 20px 0;
  border-radius: 48.5px;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: -.4px;
  text-align: center;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center
}

@media screen and (max-width: 767px) {
  .button__root--3TpUL {
    font-size:18px;
    padding: 14px 0
  }
}

.button__blue--3CkSv {
  background-color: #0035a0;
  color: #fff;
  transition: background-color .1s
}

.button__blue--3CkSv:hover {
  background-color: #0049db
}

.button__gray--8xHql {
  background-color: #f5f5f5;
  color: #0035a0
}

.button__gray--8xHql:hover {
  opacity: .6
}

.button__transparent--1WKYI {
  background-color: #fff;
  border: 2px solid #0035a0;
  color: #0035a0;
  padding: 11px 20px;
  transition: all .3s
}

.button__transparent--1WKYI .button__arrow--7kDY1 {
  color: #0035a0
}

.button__transparent--1WKYI:hover {
  border-color: #0049db;
  color: #0049db
}

.button__transparent--1WKYI:hover .button__arrow--7kDY1 {
  color: #0049db;
  transform: translateX(5px)
}

.button__transparentWhite--f3H6A {
  background-color: initial;
  border: 2px solid #fff;
  color: #fff;
  padding: 11px 20px;
  transition: all .3s
}

.button__transparentWhite--f3H6A .button__arrow--7kDY1 {
  color: #fff
}

.button__transparentWhite--f3H6A:hover {
  opacity: .8
}

.button__transparentWhite--f3H6A:hover .button__arrow--7kDY1 {
  transform: translateX(5px)
}

.button__full-width--1d7OL {
  width: 100%
}

.button__arrow--7kDY1 {
  margin-left: 10px;
  transition: .3s
}

._404__root--QQKsv {
  padding: 150px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start
}

._404__root--QQKsv h1 {
  margin-bottom: 50px
}

@media screen and (max-width: 767px) {
  ._404__root--QQKsv h1 {
    margin-bottom:30px
  }
}

._404__root--QQKsv p {
  margin-bottom: 30px
}

._404__root--QQKsv button {
  margin-bottom: 200px
}

@media screen and (max-width: 767px) {
  ._404__root--QQKsv button {
    margin-bottom:100px
  }
}

.footer__root--2R7z_ {
  padding: 80px 40px 25px;
  display: flex;
  flex-direction: column;
  color: #000;
  align-items: center
}

@media screen and (max-width: 1023px) {
  .footer__root--2R7z_ {
    padding-top:40px
  }
}

@media screen and (max-width: 479px) {
  .footer__root--2R7z_ {
    padding:0 10px 25px
  }
}

.footer__root--2R7z_ .footer__we-find--29LRt {
  font-size: 202px;
  font-weight: 500;
  letter-spacing: -2.98px;
  color: #000;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center
}

@media screen and (max-width: 1023px) {
  .footer__root--2R7z_ .footer__we-find--29LRt {
    font-size:150px;
    letter-spacing: -2.21px
  }
}

@media screen and (max-width: 767px) {
  .footer__root--2R7z_ .footer__we-find--29LRt {
    font-size:120px;
    letter-spacing: -1.77px
  }
}

@media screen and (max-width: 479px) {
  .footer__root--2R7z_ .footer__we-find--29LRt {
    font-size:50px;
    letter-spacing: -.74px
  }
}


@media screen and (max-width: 1023px) {
  .footer__root--2R7z_ .footer__we-find--29LRt:after {
    width:151px;
    transform: scale(.7)
  }
}

@media screen and (max-width: 767px) {
  .footer__root--2R7z_ .footer__we-find--29LRt:after {
    width:133px;
    transform: scale(.55);
    margin-left: 0
  }
}

@media screen and (max-width: 479px) {
  .footer__root--2R7z_ .footer__we-find--29LRt:after {
    width:49px;
    transform: scale(.22);
    margin-left: -15px;
    margin-top: 0
  }
}

.footer__root--2R7z_ .footer__description--J30r5 {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: -50px;
  margin-bottom: 120px
}

@media screen and (max-width: 1023px) {
  .footer__root--2R7z_ .footer__description--J30r5 {
    margin-top:-75px;
    margin-bottom: 90px
  }
}

@media screen and (max-width: 767px) {
  .footer__root--2R7z_ .footer__description--J30r5 {
    font-size:20px;
    margin-top: -90px;
    margin-bottom: 90px
  }
}

@media screen and (max-width: 479px) {
  .footer__root--2R7z_ .footer__description--J30r5 {
    margin-top:-110px;
    text-align: center;
    margin-bottom: 50px
  }
}

.footer__root--2R7z_>.footer__link--1-k1- {
  font-size: 30px;
  font-weight: 500;
  letter-spacing: -.3px;
  width: 100%;
  max-width: 1000px;
  height: 88px;
  margin-bottom: 230px
}

@media screen and (max-width: 1023px) {
  .footer__root--2R7z_>.footer__link--1-k1- {
    margin-bottom:210px;
    max-width: 90%!important
  }
}

@media screen and (max-width: 767px) {
  .footer__root--2R7z_>.footer__link--1-k1- {
    height:88px;
    margin-bottom: 190px;
    max-width: 97%
  }
}

@media screen and (max-width: 479px) {
  .footer__root--2R7z_>.footer__link--1-k1- {
    font-size:18px;
    height: 50px;
    max-width: 97%;
    margin-bottom: 100px
  }
}

.footer__root--2R7z_ .footer__copyright--2Y0hj {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 500;
  width: 100%
}

.footer__root--2R7z_ .footer__copyright--2Y0hj>div {
  flex: 1 1 50%
}

.footer__root--2R7z_ .footer__copyright--2Y0hj>div:not(:last-child):not(:first-child) {
  text-align: center
}

@media screen and (max-width: 767px) {
  .footer__root--2R7z_ .footer__copyright--2Y0hj {
    flex-wrap:wrap
  }

  .footer__root--2R7z_ .footer__copyright--2Y0hj>div:first-child {
    flex: 1 1 100%;
    margin-bottom: 20px
  }

  .footer__root--2R7z_ .footer__copyright--2Y0hj>div:not(:last-child):not(:first-child) {
    text-align: left!important
  }

  .footer__root--2R7z_ .footer__copyright--2Y0hj>div:last-child {
    text-align: right!important
  }
}

@media screen and (max-width: 479px) {
  .footer__root--2R7z_ .footer__copyright--2Y0hj {
    flex-direction:column
  }

  .footer__root--2R7z_ .footer__copyright--2Y0hj>div {
    text-align: left!important;
    margin: 9px 0
  }

  .footer__root--2R7z_ .footer__copyright--2Y0hj>div:last-child {
    text-align: left!important
  }
}

.content-text__root--3rxUU {
  padding: 60px 40px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.content-text__text--2bKKA {
  font: 500 32px/42px SF Pro,-apple-system,BlinkMacSystemFont,Arial,Segoe UI,Roboto,Helvetica,Ubuntu,Cantarell,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}

.header__root--1nJyn {
  color: #000;
  padding: 150px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  display: block
}

.header__root--1nJyn:before {
  background: #d8dceb;
  z-index: -2
}

.header__root--1nJyn:after,.header__root--1nJyn:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0
}


@media screen and (max-width: 479px) {
  .header__root--1nJyn {
    padding-top:100px;
    background: #ced3e8
  }
}

.header__root--1nJyn .header__title--Nnk1E {
  margin-bottom: 100px
}

@media screen and (min-width: 1024px) {
  .header__root--1nJyn .header__title--Nnk1E {
    max-width:999px
  }
}

@media screen and (max-width: 1023px) {
  .header__root--1nJyn .header__title--Nnk1E {
    max-width:731px
  }
}

@media screen and (max-width: 767px) {
  .header__root--1nJyn .header__title--Nnk1E {
    max-width:500px
  }
}

@media screen and (max-width: 479px) {
  .header__root--1nJyn .header__title--Nnk1E {
    margin-bottom:20px
  }
}

.header__root--1nJyn .header__additionals--1iSGq {
  width: 100%;
  display: flex;
  flex-direction: row
}

@media screen and (max-width: 479px) {
  .header__root--1nJyn .header__additionals--1iSGq {
    flex-direction:column
  }
}

.header__root--1nJyn .header__additionals--1iSGq>div {
  margin: 0 25px;
  line-height: 1.15;
  flex: 0 22%
}

@media screen and (max-width: 479px) {
  .header__root--1nJyn .header__additionals--1iSGq>div {
    margin:11px 0;
    line-height: 1.15;
    flex: 0 100%
  }
}

.header__root--1nJyn .header__additionals--1iSGq>div .header__title--Nnk1E {
  margin-bottom: 5px;
  color: #0035a0
}

@media screen and (max-width: 479px) {
  .header__root--1nJyn .header__additionals--1iSGq>div .header__title--Nnk1E {
    margin-bottom:0
  }
}

.header__root--1nJyn .header__additionals--1iSGq>div .header__description--2Lkfj {
  color: #86878e
}

.header__root--1nJyn .header__additionals--1iSGq>div:first-child {
  margin-left: 0
}

.header__root--1nJyn .header__additionals--1iSGq>div:last-child {
  margin-right: 0
}

.header__links--N-Ps1 a {
  color: #000!important
}

@-webkit-keyframes header__opacityAnimate--F13OO {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes header__opacityAnimate--F13OO {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.two-blocks__root--g2kej {
  padding: 120px 40px 200px;
  display: flex;
  flex-direction: row;
  position: relative
}

@media screen and (max-width: 1023px) {
  .two-blocks__root--g2kej {
    flex-direction:column
  }
}

@media screen and (max-width: 767px) {
  .two-blocks__root--g2kej {
    padding-top:80px
  }
}

@media screen and (max-width: 479px) {
  .two-blocks__root--g2kej {
    padding-top:40px;
    padding-bottom: 40px
  }
}

.two-blocks__root--g2kej .two-blocks__left-block--b1dPg {
  flex: 4;
  line-height: 1.1;
  margin-top: 10px;
  font-size: 22px
}

.two-blocks__root--g2kej .two-blocks__left-block--b1dPg .two-blocks__title--yj5Wq {
  margin-bottom: 22px
}

.two-blocks__root--g2kej .two-blocks__left-block--b1dPg:empty {
  margin: 0
}

@media screen and (max-width: 1023px) {
  .two-blocks__root--g2kej .two-blocks__left-block--b1dPg {
    margin-bottom:20px
  }
}

@media screen and (max-width: 767px) {
  .two-blocks__root--g2kej .two-blocks__left-block--b1dPg {
    margin-bottom:5px;
    font-size: 18px
  }
}

.two-blocks__root--g2kej .two-blocks__right-block--3bAME {
  flex: 7.826
}

@media screen and (max-width: 1023px) {
  .two-blocks__root--g2kej .two-blocks__right-block--3bAME {
    margin-right:0
  }
}

.two-blocks__root--g2kej .two-blocks__right-block--3bAME .two-blocks__title--yj5Wq {
  margin-bottom: 50px;
  line-height: .93;
  letter-spacing: -.03em
}

@media screen and (max-width: 1023px) {
  .two-blocks__root--g2kej .two-blocks__right-block--3bAME .two-blocks__title--yj5Wq {
    margin-bottom:40px
  }
}

@media screen and (max-width: 767px) {
  .two-blocks__root--g2kej .two-blocks__right-block--3bAME .two-blocks__title--yj5Wq {
    margin-bottom:22px
  }
}

.two-blocks__root--g2kej .two-blocks__right-block--3bAME .two-blocks__description--2l77_ {
  line-height: 1.15;
  letter-spacing: -.2px;
  max-width: 570px
}

.two-blocks__reverse--vUdR6 {
  flex-direction: row-reverse
}

.two-blocks__reverse--vUdR6 .two-blocks__right-block--3bAME {
  flex: 8;
  margin-right: 90px
}

@media screen and (max-width: 767px) {
  .two-blocks__reverse--vUdR6 .two-blocks__right-block--3bAME {
    margin-right:0
  }
}

.two-blocks__subtext--2kTGN {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px
}

@media screen and (max-width: 767px) {
  .two-blocks__subtext--2kTGN {
    font-size:18px
  }
}

.two-blocks__white--2BxvZ {
  color: #fff
}

.two-blocks__subtext--2kTGN {
  margin-bottom: 13px;
  color: inherit
}

.popup__popup--4PfDJ {
  position: fixed;
  z-index: 6;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top: 0;
  bottom: 0;
  right: -100vw;
  left: 100vw;
  background: rgba(0,0,0,.6)
}

.popup__popup--4PfDJ::-webkit-scrollbar {
  display: none
}

.popup__root--2OlV3 {
  position: relative;
  padding: 0 25px;
  background-color: #fff;
  overflow: scroll
}

@media screen and (max-width: 479px) {
  .popup__root--2OlV3 {
    padding:0 20px
  }
}

.popup__root--2OlV3::-webkit-scrollbar {
  display: none
}

.popup__root--2OlV3 .popup__close-icon--2mjiP {
  position: absolute;
  right: 40px;
  top: 35px;
  z-index: 7
}

@media screen and (max-width: 479px) {
  .popup__root--2OlV3 .popup__close-icon--2mjiP {
    top:25px;
    right: 20px
  }
}

.popup__is-open--1he41 {
  left: 0;
  right: 0
}

.popup__blue-color--Ucbst {
  background-color: #0035a0
}

.popup__black-color--2_oFm {
  background-color: #000
}

.popup__full-screen--lPErq {
  height: 100%;
  width: 100%
}

.popup__animate-from-right-open--xJrKg {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  left: 0;
  right: 0;
  -webkit-animation-name: popup__animated-from-right-open--3ZHpM;
  animation-name: popup__animated-from-right-open--3ZHpM
}

.popup__animate-from-right-close--166B_ {
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-name: popup__animated-from-right-close--38JWs;
  animation-name: popup__animated-from-right-close--38JWs;
  right: -100vw;
  left: 100vw
}

@-webkit-keyframes popup__animated-from-right-open--3ZHpM {
  0% {
    right: -100vw;
    left: 100vw
  }

  to {
    left: 0;
    right: 0
  }
}

@keyframes popup__animated-from-right-open--3ZHpM {
  0% {
    right: -100vw;
    left: 100vw
  }

  to {
    left: 0;
    right: 0
  }
}

@-webkit-keyframes popup__animated-from-right-close--38JWs {
  0% {
    left: 0;
    right: 0
  }

  to {
    right: -100vw;
    left: 100vw
  }
}

@keyframes popup__animated-from-right-close--38JWs {
  0% {
    left: 0;
    right: 0
  }

  to {
    right: -100vw;
    left: 100vw
  }
}

.popup-say-people-from-company__popup--g5DMx {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0
}

@media screen and (max-width: 1023px) {
  .popup-say-people-from-company__popup--g5DMx {
    flex-direction:column-reverse;
    margin-top: 40px;
    padding: 40px 140px 150px!important;
    overflow-y: scroll
  }

  .popup-say-people-from-company__popup--g5DMx img {
    width: 100%;
    height: auto;
    max-width: none!important
  }
}

@media screen and (max-width: 767px) {
  .popup-say-people-from-company__popup--g5DMx {
    padding:0 40px 150px!important
  }
}

@media screen and (max-width: 479px) {
  .popup-say-people-from-company__popup--g5DMx {
    padding:0 20px 150px!important
  }
}

.popup-say-people-from-company__popup--g5DMx>* {
  flex: 1 50%
}

.popup-say-people-from-company__popup--g5DMx .popup-say-people-from-company__data--6gIub {
  padding: 45px 130px 0 40px
}

@media screen and (min-width: 1024px) {
  .popup-say-people-from-company__popup--g5DMx .popup-say-people-from-company__data--6gIub {
    padding-right:5vw
  }
}

@media screen and (max-width: 1023px) {
  .popup-say-people-from-company__popup--g5DMx .popup-say-people-from-company__data--6gIub {
    padding:60px 0 0
  }
}

.popup-say-people-from-company__popup--g5DMx .popup-say-people-from-company__data--6gIub h1 {
  margin-bottom: 14px
}

.popup-say-people-from-company__popup--g5DMx .popup-say-people-from-company__data--6gIub .popup-say-people-from-company__description--1CCtg {
  color: #9f9f9f;
  margin-bottom: 70px
}


@media screen and (max-width: 767px) {
  .popup-say-people-from-company__popup--g5DMx img {
    height:auto
  }
}

@media screen and (max-width: 479px) {
  .popup-say-people-from-company__popup--g5DMx img {
    height:auto
  }
}

.popup-say-people-from-company__close-popup--3V9dW {
  width: 501px;
  max-width: 50%;
  height: 61px;
  border-radius: 48.5px;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background-color: rgba(0,102,229,.9);
  color: #fff;
  position: fixed;
  bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer
}

.popup-say-people-from-company__close-popup--3V9dW svg {
  margin-right: 10px
}

.popup-say-people-from-company__say--3Cgrj {
  margin-bottom: 100px
}

@media screen and (max-width: 1023px) {
  .popup-say-people-from-company__say--3Cgrj {
    margin-right:0
  }
}

.popup-say-people-from-company__say--3Cgrj h3 {
  margin: 60px 0;
  text-align: center
}

@media screen and (max-width: 1023px) {
  .popup-say-people-from-company__say--3Cgrj h3 {
    margin:30px 0
  }
}

@media screen and (max-width: 767px) {
  .popup-say-people-from-company__say--3Cgrj h3 {
    margin:40px 0
  }
}

@media screen and (max-width: 479px) {
  .popup-say-people-from-company__say--3Cgrj h3 {
    margin:40px 0
  }
}

@media screen and (min-width: 1024px) {
  .popup-say-people-from-company__ask-image--34EOM {
    opacity:0
  }
}

.popup-say-people-from-company__fixed-image--2iWj7 {
  position: fixed;
  top: 0;
  right: 0
}

.life-in-company__two-blocks--1Zdu1 {
  padding-bottom: 60px
}

@media screen and (max-width: 479px) {
  .life-in-company__two-blocks--1Zdu1 {
    padding-bottom:0
  }
}

.life-in-company__left-block--1NLVA {
  margin-top: 20px!important
}

.life-in-company__person-two-blocks--125fv {
  padding: 0
}

.life-in-company__persons--2zUx6 {
  padding: 0;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow-y: hidden
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i {
  cursor: pointer;
  min-width: 257px;
  width: 257px;
  height: 470px;
  position: relative;
  margin: 0 9px;
  overflow: hidden
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i img {
  width: 257px;
  transition: transform .4s
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i:hover img {
  transform: scale(1.075)
}

@media screen and (max-width: 1023px) {
  .life-in-company__persons--2zUx6 .life-in-company__person--2fY5i {
    font-size:14px
  }
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i:last-child {
  margin-right: 0
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i:first-child {
  margin-left: 0
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i .life-in-company__data--1VhTW {
  position: absolute;
  top: 0;
  right: 25px;
  bottom: 35px;
  left: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 14px
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i .life-in-company__data--1VhTW .life-in-company__title---iyZl {
  text-align: center;
  color: #fff;
  margin-bottom: 10px
}

.life-in-company__persons--2zUx6 .life-in-company__person--2fY5i .life-in-company__data--1VhTW .life-in-company__description--3WYU4 {
  color: #9f9f9f;
  text-align: center
}

.technology-stack__two-blocks--2J7ni {
  padding-top: 200px;
  padding-bottom: 40px
}

@media screen and (max-width: 1023px) {
  .technology-stack__two-blocks--2J7ni {
    padding-top:130px
  }
}

@media screen and (max-width: 479px) {
  .technology-stack__two-blocks--2J7ni {
    padding-top:80px
  }
}

.technology-stack__technology-list--3mGlV {
  padding: 0 40px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -9px
}

.technology-stack__technology-list--3mGlV .technology-stack__item--16-4q {
  width: 212px;
  height: 160px;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 9px
}

.technology-stack__technology-list--3mGlV .technology-stack__item--16-4q img {
  max-width: 50%;
  max-height: 50%
}

@media screen and (max-width: 479px) {
  .technology-stack__technology-list--3mGlV .technology-stack__item--16-4q {
    width:154px;
    height: 116px
  }
}

.address__contactBlock--aqfwo {
  padding-top: 95px;
  font-size: 32px;
  line-height: 1.4
}

@media screen and (max-width: 1023px) {
  .address__contactBlock--aqfwo {
    padding-top:85px
  }
}

@media screen and (max-width: 479px) {
  .address__contactBlock--aqfwo {
    padding-top:65px
  }
}

@media screen and (max-width: 767px) {
  .address__contactBlock--aqfwo {
    line-height:1.2
  }
}

.address__contactBlock--aqfwo .address__header--1NI17 {
  margin-left: -40px;
  margin-right: -40px;
  background-color: #005ee5
}

@media screen and (max-width: 1023px) {
  .address__contactBlock--aqfwo .address__header--1NI17 {
    margin-left:-25px;
    margin-right: -25px
  }
}

@media screen and (max-width: 479px) {
  .address__contactBlock--aqfwo .address__header--1NI17 {
    margin-left:-20px;
    margin-right: -20px
  }
}

.address__contactBlock--aqfwo .address__header--1NI17 img {
  display: block;
  width: 100%;
  max-width: 1200px
}

.address__contactBlock--aqfwo .address__gridSection--3RXAJ,.address__contactBlock--aqfwo .address__header--1NI17,.address__contactBlock--aqfwo .address__important--3s6G9,.address__contactBlock--aqfwo .address__separation--1nvAZ,.address__contactBlock--aqfwo .address__text--2JZ9L,.address__contactBlock--aqfwo h1 {
  margin-bottom: 50px
}

@media screen and (max-width: 1023px) {
  .address__contactBlock--aqfwo .address__gridSection--3RXAJ,.address__contactBlock--aqfwo .address__header--1NI17,.address__contactBlock--aqfwo .address__important--3s6G9,.address__contactBlock--aqfwo .address__separation--1nvAZ,.address__contactBlock--aqfwo .address__text--2JZ9L,.address__contactBlock--aqfwo h1 {
    margin-bottom:40px
  }
}

@media screen and (max-width: 767px) {
  .address__contactBlock--aqfwo .address__gridSection--3RXAJ,.address__contactBlock--aqfwo .address__header--1NI17,.address__contactBlock--aqfwo .address__important--3s6G9,.address__contactBlock--aqfwo .address__separation--1nvAZ,.address__contactBlock--aqfwo .address__text--2JZ9L,.address__contactBlock--aqfwo h1 {
    margin-bottom:22px
  }
}

.address__contactBlock--aqfwo .address__important--3s6G9 {
  font-weight: 700
}

.address__contactBlock--aqfwo .address__gridSection--3RXAJ {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr))
}

.address__contactBlock--aqfwo .address__gridSection--3RXAJ .address__img--3B0cU {
  margin-bottom: 25px
}

.address__contactBlock--aqfwo .address__gridSection--3RXAJ .address__img--3B0cU img {
  display: block;
  width: 100%
}

.address__contactBlock--aqfwo .address__gridSection--3RXAJ .address__title--2jq9M {
  margin-bottom: 25px
}

.address__contactBlock--aqfwo .address__gridSection--3RXAJ .address__description--qns48 {
  font-size: 20px;
  line-height: 1.35
}

.address__contactBlock--aqfwo .address__separation--1nvAZ {
  border-top: 1px solid #dedede;
  height: 0
}

.address__contactBlock--aqfwo .address__link--1JAct {
  color: #0035a0
}


@media screen and (max-width: 1023px) {
  .advantages__root--2uZTv {
    padding-bottom:350px;
    background-size: 60%
  }
}

@media screen and (max-width: 767px) {
  .advantages__root--2uZTv {
    padding-bottom:250px;
    background-size: 60%
  }
}

@media screen and (max-width: 479px) {
  .advantages__root--2uZTv {
    padding-bottom:150px;
    background-size: 60%
  }
}

.advantages__left-block--2atN3 {
  color: #fff;
  margin-top: 55px!important
}

.advantages__right-block--3vSRm {
  display: flex;
  flex-direction: column
}

.advantages__right-block--3vSRm .advantages__advantage--3wW0F {
  margin: 45px 0;
  font-weight: 500;
  line-height: .93;
  letter-spacing: -.03em;
  color: #fff
}

@media screen and (max-width: 1023px) {
  .advantages__right-block--3vSRm .advantages__advantage--3wW0F {
    margin:25px 0
  }
}

@media screen and (max-width: 767px) {
  .advantages__right-block--3vSRm .advantages__advantage--3wW0F {
    margin:21px 0
  }
}

@media screen and (max-width: 479px) {
  .advantages__right-block--3vSRm .advantages__advantage--3wW0F {
    margin:20px 0
  }
}

.advantages__right-block--3vSRm .advantages__additions--2rHMB {
  display: flex;
  flex-direction: row;
  padding-top: 30px
}

.advantages__right-block--3vSRm .advantages__additions--2rHMB .advantages__addition--2zpdM {
  border-top: 3px solid #fff;
  color: #fff;
  flex: 1
}

@media screen and (max-width: 479px) {
  .advantages__right-block--3vSRm .advantages__additions--2rHMB .advantages__addition--2zpdM {
    font-size:14px
  }
}

.advantages__right-block--3vSRm .advantages__additions--2rHMB .advantages__addition--2zpdM .advantages__title--YEY0i {
  margin: 37px 0 8px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -.2px
}

@media screen and (max-width: 479px) {
  .advantages__right-block--3vSRm .advantages__additions--2rHMB .advantages__addition--2zpdM .advantages__title--YEY0i {
    margin-top:10px
  }
}

.advantages__right-block--3vSRm .advantages__additions--2rHMB .advantages__addition--2zpdM .advantages__description--3SKQi {
  margin: 8px 0 0;
  opacity: .4;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -.2px
}

.advantages__right-block--3vSRm .advantages__additions--2rHMB .advantages__addition--2zpdM:first-child {
  margin-right: 65px
}

.career-up__root--3bCFv {
  padding-top: 100px;
  padding-bottom: 0;
  background-color: #1b1a1a;
  color: #fff
}

@media screen and (max-width: 479px) {
  .career-up__right-block--3DaIG p {
    font-size:14px
  }
}

.coworking__two-blocks--3KC8S {
  padding-bottom: 72px
}

@media screen and (max-width: 1023px) {
  .coworking__two-blocks--3KC8S {
    padding-bottom:50px
  }
}

.coworking__images--AXdEz {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center
}

@media screen and (max-width: 767px) {
  .coworking__images--AXdEz {
    flex-direction:column
  }
}

.coworking__images--AXdEz .coworking__image-block--RwEH0 {
  flex: 0 calc(50% - 16px);
  margin: 8px
}

@media screen and (max-width: 1023px) {
  .coworking__images--AXdEz .coworking__image-block--RwEH0 {
    flex:0 50%;
    text-align: center;
    overflow: hidden;
    margin-bottom: 8px
  }

  .coworking__images--AXdEz .coworking__image-block--RwEH0 img {
    width: calc(100% - 16px);
    max-width: 100%;
    max-height: 100%
  }
}

@media screen and (max-width: 767px) {
  .coworking__images--AXdEz .coworking__image-block--RwEH0 {
    margin:0
  }
}

.coworking__images--AXdEz .coworking__first-image--3Ka-C {
  text-align: right
}

@media screen and (max-width: 1023px) {
  .coworking__images--AXdEz .coworking__first-image--3Ka-C {
    text-align:center
  }
}

.coworking__images--AXdEz .coworking__second-images--2kIk5 {
  text-align: left
}

@media screen and (max-width: 1023px) {
  .coworking__images--AXdEz .coworking__second-images--2kIk5 {
    text-align:center
  }
}

.header__root--224cb {
  padding: 100px 40px 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  overflow: visible
}

@media screen and (min-width: 1500px) {
  .header__root--224cb {
    padding-bottom:150px
  }
}

@media screen and (max-width: 1023px) {
  .header__root--224cb {
    padding-bottom:140px
  }
}

@media screen and (max-width: 767px) {
  .header__root--224cb {
    padding-top:110px;
    padding-bottom: 150px
  }
}

@media screen and (max-width: 479px) {
  .header__root--224cb {
    padding:100px 20px 230px
  }
}

.header__root--224cb>.header__title--_kOgO {
  width: 65vw;
  max-width: 770px;
  padding-bottom: 40px;
  z-index: 1
}

@media screen and (max-width: 1023px) {
  .header__root--224cb>.header__title--_kOgO {
    max-width:786px;
    padding-bottom: 60px;
    padding-right: 220px
  }
}

@media screen and (max-width: 767px) {
  .header__root--224cb>.header__title--_kOgO {
    width:470px;
    max-width: 75vw;
    padding-right: 0
  }
}

@media screen and (max-width: 479px) {
  .header__root--224cb>.header__title--_kOgO {
    padding-bottom:30px
  }
}

.header__root--224cb>.header__link--2t8FA {
  margin-bottom: 400px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  display: flex;
  flex-direction: row;
  transition: opacity .4s;
  position: relative;
  color: #0035a0;
  border: 2px solid #0035a0;
  background-color: hsla(0,0%,100%,.9);
  border-radius: 30px;
  padding: 10px 50px 10px 20px;
  z-index: 1
}

.header__root--224cb>.header__link--2t8FA:hover svg {
  right: 6%;
  color: #0049db
}

.header__root--224cb>.header__link--2t8FA svg {
  top: 12px;
  position: absolute;
  right: 7%;
  height: 20px;
  width: 20px;
  transition: right .1s;
  color: #0035a0
}

@media screen and (max-width: 1023px) {
  .header__root--224cb>.header__link--2t8FA {
    margin-bottom:250px
  }
}

@media screen and (max-width: 767px) {
  .header__root--224cb>.header__link--2t8FA {
    margin-bottom:330px
  }
}

@media screen and (max-width: 479px) {
  .header__root--224cb>.header__link--2t8FA {
    margin-bottom:190px
  }
}

.header__root--224cb>.header__link--2t8FA:hover {
  border-color: #0049db
}

.header__root--224cb>.header__link--2t8FA:hover:after {
  margin-left: 20px
}

.header__peoples--s7zOo {
  display: flex;
  flex-direction: row;
  position: absolute;
  align-items: flex-end;
  right: 0;
  top: 180px
}

@media screen and (min-width: 1500px) {
  .header__peoples--s7zOo {
    bottom:unset;
    top: 100px
  }
}

@media screen and (max-width: 767px) {
  .header__peoples--s7zOo {
    top:400px;
    bottom: unset;
    z-index: 0
  }
}

@media screen and (max-width: 479px) {
  .header__peoples--s7zOo {
    top:350px
  }
}

.header__peoples--s7zOo .header__column--2AGgp {
  display: flex;
  flex-direction: column
}

.header__peoples--s7zOo .header__column--2AGgp div {
  width: 182px;
  margin: 7px 6.5px;
  position: relative;
  max-width: calc(16vw - 12px)
}

@media screen and (min-width: 1500px) {
  .header__peoples--s7zOo .header__column--2AGgp div {
    width:222px
  }
}

@media screen and (max-width: 1023px) {
  .header__peoples--s7zOo .header__column--2AGgp div {
    max-width:calc(20vw - 12px)
  }
}

@media screen and (max-width: 767px) {
  .header__peoples--s7zOo .header__column--2AGgp div {
    width:25vw;
    max-width: calc(25vw - 12px)
  }
}

@media screen and (max-width: 479px) {
  .header__peoples--s7zOo .header__column--2AGgp div {
    width:33vw;
    max-width: calc(33vw - 12px)
  }
}

.header__peoples--s7zOo .header__column--2AGgp div.header__clickable--2Za8h {
  cursor: pointer
}

.header__peoples--s7zOo .header__column--2AGgp div:hover svg {
  transform: scale(1.1)
}

.header__peoples--s7zOo .header__column--2AGgp div:hover path {
  fill-opacity: 1
}

.header__peoples--s7zOo .header__column--2AGgp div .header__iconWrapper--v34Nx {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center
}

.header__peoples--s7zOo .header__column--2AGgp div svg {
  margin: 0 auto;
  z-index: 1;
  transition: transform .5s
}

.header__peoples--s7zOo .header__column--2AGgp div path {
  transition: fill-opacity .5s
}

.header__peoples--s7zOo .header__column--2AGgp div img {
  max-width: 100%
}

.header__peoples--s7zOo .header__column--2AGgp:first-child {
  transform: translateY(116px)
}

@media screen and (max-width: 479px) {
  .header__peoples--s7zOo .header__column--2AGgp:first-child {
    display:none
  }
}

.header__peoples--s7zOo .header__column--2AGgp:nth-child(2) {
  transform: translateY(180px)
}

@media screen and (max-width: 767px) {
  .header__peoples--s7zOo .header__column--2AGgp:nth-child(2) {
    transform:translateY(-100px)
  }
}

.header__peoples--s7zOo .header__column--2AGgp:nth-child(3) {
  transform: translateY(-16px)
}

@media screen and (max-width: 767px) {
  .header__peoples--s7zOo .header__column--2AGgp:nth-child(3) {
    transform:translateY(-50px)
  }
}

@media screen and (max-width: 479px) {
  .header__peoples--s7zOo .header__column--2AGgp:nth-child(3) {
    transform:translateY(-75px)
  }
}

@media screen and (max-width: 767px) {
  .header__peoples--s7zOo .header__column--2AGgp:nth-child(4) {
    transform:translateY(30px)
  }
}

@media screen and (max-width: 479px) {
  .header__peoples--s7zOo .header__column--2AGgp:nth-child(4) {
    display:none
  }
}

.header__peoples--s7zOo .header__column--2AGgp:nth-child(5) {
  transform: translateY(50px)
}

@media screen and (max-width: 767px) {
  .header__peoples--s7zOo .header__column--2AGgp:nth-child(5) {
    transform:translateY(200px)
  }
}

@media screen and (max-width: 479px) {
  .header__peoples--s7zOo .header__column--2AGgp:nth-child(5) {
    transform:translateY(150px)
  }
}

.menu__root--2S7-s {
  display: flex
}

.menu__root--2S7-s>div {
  cursor: pointer;
  margin: 0 10px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -.2px;
  color: #fff
}

@media screen and (max-width: 479px) {
  .menu__root--2S7-s>div {
    font-size:14px
  }
}

.menu__root--2S7-s>div:first-child {
  margin-left: 0
}

.menu__root--2S7-s .menu__active--17r56 {
  position: relative
}

.menu__root--2S7-s .menu__active--17r56:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  text-align: center;
  bottom: -23px;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: 0 auto
}

.ladder__background--3QslL,.ladder__root--2cbMX {
  background-color: #1b1a1a
}

.ladder__root--2cbMX {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 40px 150px;
  color: #fff
}

.ladder__root--2cbMX .ladder__right-block--2O0Wo .ladder__title--2I1e3 {
  margin-bottom: 25px;
  font-size: 80px;
  font-weight: 500;
  line-height: .93;
  letter-spacing: -.03em
}

.ladder__root--2cbMX .ladder__right-block--2O0Wo .ladder__description--1uQLf {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: -.2px;
  color: #fff;
  max-width: 570px
}

.ladder__preview--22-uO {
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0 40px 300px;
  background-color: #1b1a1a;
  color: #fff;
  max-width: 1600px;
  margin: 0 auto
}

@media screen and (max-width: 1023px) {
  .ladder__preview--22-uO {
    flex-direction:column-reverse
  }
}

@media screen and (max-width: 767px) {
  .ladder__preview--22-uO {
    padding-left:0;
    padding-right: 0;
    padding-bottom: 100px
  }
}

.ladder__preview--22-uO>.ladder__block--1fvCI {
  background-color: #282727;
  position: relative;
  height: 374px;
  border-radius: 20px;
  transition: height .5s,width .5s
}

@media screen and (max-width: 1023px) {
  .ladder__preview--22-uO>.ladder__block--1fvCI {
    width:100%!important;
    margin-bottom: 40px
  }
}

.ladder__preview--22-uO>.ladder__block--1fvCI .ladder__text--1D4av {
  position: absolute;
  top: 16px;
  left: 20px;
  color: #9f9f9f;
  opacity: .4;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -.2px
}

@media screen and (min-width: 1024px) {
  .ladder__develop--3_QW5 svg {
    padding-top:35px
  }
}

@media screen and (max-width: 479px) {
  .ladder__develop--3_QW5 .ladder__text--1D4av {
    left:0;
    right: 0;
    text-align: center
  }
}

.ladder__develop--3_QW5>.ladder__block--1fvCI:first-child {
  width: 50.6vw;
  margin-right: 3vw
}

@media screen and (max-width: 1023px) {
  .ladder__develop--3_QW5>.ladder__block--1fvCI:first-child {
    height:45vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__develop--3_QW5>.ladder__block--1fvCI:first-child {
    height:80vw
  }
}

@media screen and (max-width: 479px) and (max-width:479px) {
  .ladder__develop--3_QW5>.ladder__block--1fvCI:first-child .ladder__text--1D4av {
    left:20px;
    text-align: left
  }
}

.ladder__develop--3_QW5>.ladder__block--1fvCI:nth-child(2) {
  width: 25.3vw;
  margin-right: 3vw
}

@media screen and (max-width: 1023px) {
  .ladder__develop--3_QW5>.ladder__block--1fvCI:nth-child(2) {
    height:40vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__develop--3_QW5>.ladder__block--1fvCI:nth-child(2) {
    height:52vw
  }
}

.ladder__develop--3_QW5>.ladder__block--1fvCI:nth-child(3) {
  width: 12.6vw
}

@media screen and (max-width: 1023px) {
  .ladder__develop--3_QW5>.ladder__block--1fvCI:nth-child(3) {
    height:15vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__develop--3_QW5>.ladder__block--1fvCI:nth-child(3) {
    height:32vw
  }
}

@media screen and (min-width: 1024px) {
  .ladder__analytics--aQ0bO svg {
    margin-top:4vh
  }
}

@media screen and (max-width: 1023px) {
  .ladder__analytics--aQ0bO svg {
    margin-left:40vw!important
  }
}

@media screen and (max-width: 767px) {
  .ladder__analytics--aQ0bO svg {
    margin-left:35vw!important
  }
}

@media screen and (max-width: 479px) {
  .ladder__analytics--aQ0bO svg {
    margin-left:10vw!important
  }
}

.ladder__analytics--aQ0bO>.ladder__block--1fvCI:first-child {
  width: 60.6vw;
  margin-right: 3vw
}

@media screen and (max-width: 1023px) {
  .ladder__analytics--aQ0bO>.ladder__block--1fvCI:first-child {
    height:45vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__analytics--aQ0bO>.ladder__block--1fvCI:first-child {
    height:75vw
  }
}

.ladder__analytics--aQ0bO>.ladder__block--1fvCI:nth-child(2) {
  width: 12.3vw;
  margin-right: 3vw
}

@media screen and (max-width: 1023px) {
  .ladder__analytics--aQ0bO>.ladder__block--1fvCI:nth-child(2) {
    height:30vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__analytics--aQ0bO>.ladder__block--1fvCI:nth-child(2) {
    height:40vw
  }
}

.ladder__analytics--aQ0bO>.ladder__block--1fvCI:nth-child(3) {
  width: 15.6vw
}

@media screen and (max-width: 1023px) {
  .ladder__analytics--aQ0bO>.ladder__block--1fvCI:nth-child(3) {
    height:15vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__analytics--aQ0bO>.ladder__block--1fvCI:nth-child(3) {
    height:30vw
  }
}

@media screen and (min-width: 1024px) {
  .ladder__test--1H4rE svg {
    margin-top:6vh
  }
}

@media screen and (max-width: 479px) {
  .ladder__test--1H4rE .ladder__text--1D4av {
    left:0;
    right: 0;
    text-align: center
  }
}

.ladder__test--1H4rE>.ladder__block--1fvCI:first-child {
  width: 72.9vw;
  margin-right: 3vw
}

@media screen and (max-width: 1023px) {
  .ladder__test--1H4rE>.ladder__block--1fvCI:first-child {
    height:50vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__test--1H4rE>.ladder__block--1fvCI:first-child {
    height:100vw
  }
}

.ladder__test--1H4rE>.ladder__block--1fvCI:nth-child(2) {
  width: 18.6vw
}

@media screen and (max-width: 1023px) {
  .ladder__test--1H4rE>.ladder__block--1fvCI:nth-child(2) {
    height:20vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__test--1H4rE>.ladder__block--1fvCI:nth-child(2) {
    height:40vw
  }
}

.ladder__test--1H4rE>.ladder__block--1fvCI:nth-child(3) {
  overflow: hidden;
  margin: 0;
  padding: 0
}

@media screen and (min-width: 1024px) {
  .ladder__test--1H4rE>.ladder__block--1fvCI:nth-child(3) {
    width:0
  }
}

@media screen and (max-width: 1023px) {
  .ladder__test--1H4rE>.ladder__block--1fvCI:nth-child(3) {
    height:0
  }
}

.ladder__ladder--IXE9o {
  flex-direction: column;
  justify-content: center;
  height: 354px;
  position: absolute;
  left: 40px;
  right: 40px;
  top: 10px;
  bottom: 0;
  display: flex;
  max-width: 1600px
}

@media screen and (max-width: 1023px) {
  .ladder__ladder--IXE9o {
    height:calc(100% - 350px)
  }
}

@media screen and (max-width: 767px) {
  .ladder__ladder--IXE9o {
    left:0;
    right: 0;
    height: calc(100% - 150px)
  }
}

.ladder__ladder--IXE9o>svg {
  height: auto;
  width: 99%
}

.ladder__ladder--IXE9o>svg tspan {
  font: 400 14px/16px SF Pro,-apple-system,BlinkMacSystemFont,Arial,Segoe UI,Roboto,Helvetica,Ubuntu,Cantarell,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}

@media screen and (max-width: 1023px) {
  .ladder__ladder--IXE9o>svg {
    height:100%;
    max-width: 100%;
    width: auto;
    margin: 0 auto 0 20vw
  }
}

@media screen and (max-width: 479px) {
  .ladder__ladder--IXE9o>svg {
    margin-left:0;
    margin-right: 0;
    width: 100%
  }
}

.ladder__menu-two-blocks--23MNL {
  padding: 70px 0
}

.ladder__active-className-link--2cM4b {
  color: #2289ff!important
}

.ladder__active-className-link--2cM4b:before {
  background-color: #2289ff!important
}

.our-mission__root--OB-yt {
  padding-bottom: 40px
}

@media screen and (max-width: 479px) {
  .our-mission__root--OB-yt {
    padding-top:150px
  }
}

.our-mission__root--OB-yt .our-mission__right-block--2TQt0 h1 {
  margin-bottom: 62px
}

.our-mission__root--OB-yt .our-mission__right-block--2TQt0 video {
  width: 100%
}

.scale-animating-step-by-step-block__animate-text-hide--2JHH4 {
  top: -100%;
  opacity: 1
}

.scale-animating-step-by-step-block__gradient--1cRsD {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg,rgba(0,0,0,.6),rgba(0,0,0,.6) 5%,transparent);
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 2
}

.text-in-pic__root--3pbBp {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh
}

@media screen and (max-width: 479px) {
  .text-in-pic__root--3pbBp {
    min-height:90vh
  }
}

.text-in-pic__root--3pbBp>h1 {
  z-index: 2
}

.text-in-pic__root--3pbBp img {
  height: 100vh;
  transform: scale(1.2)
}

.text-in-pic__root--3pbBp svg {
  transform: translateX(40vw)
}

@media screen and (max-width: 479px) {
  .text-in-pic__root--3pbBp svg {
    position:absolute;
    top: 0
  }
}

.text-in-pic__root--3pbBp .text-in-pic__text--309CW {
  left: 0;
  right: 0;
  bottom: 0;
  padding: 120px 40px 0;
  position: absolute;
  line-height: .93;
  letter-spacing: -.03em;
  color: #fff;
  display: flex;
  flex-direction: column
}

@media screen and (max-width: 767px) {
  .text-in-pic__root--3pbBp .text-in-pic__text--309CW {
    top:0
  }
}

@media screen and (max-width: 479px) {
  .text-in-pic__root--3pbBp .text-in-pic__text--309CW {
    padding-left:20px;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset
  }
}

.text-in-pic__root--3pbBp .text-in-pic__text--309CW span {
  color: #2289ff
}

.text-in-pic__root--3pbBp .text-in-pic__text--309CW .text-in-pic__circle--QU-yv {
  position: relative;
  margin-left: 1em
}

.text-in-pic__root--3pbBp .text-in-pic__text--309CW .text-in-pic__circle--QU-yv:before {
  position: absolute;
  top: .25em;
  left: -1em;
  border-radius: 100%;
  background-color: #2289ff;
  border: 15px solid #162c4c;
  box-shadow: 0 0 5px #162c4c;
  height: 60px;
  width: 60px;
  content: ""
}

@media screen and (max-width: 1023px) {
  .text-in-pic__root--3pbBp .text-in-pic__text--309CW .text-in-pic__circle--QU-yv:before {
    height:45px;
    width: 45px;
    border: 10px solid #162c4c
  }
}

@media screen and (max-width: 767px) {
  .text-in-pic__root--3pbBp .text-in-pic__text--309CW .text-in-pic__circle--QU-yv:before {
    height:35px;
    width: 35px;
    border: 8px solid #162c4c;
    top: .1em
  }
}

@media screen and (max-width: 479px) {
  .text-in-pic__root--3pbBp .text-in-pic__text--309CW .text-in-pic__circle--QU-yv:before {
    height:30px;
    width: 30px;
    border: 8px solid #162c4c;
    top: .1em
  }
}

.text-in-pic__colored--2mta7 {
  background-color: #1b1a1a
}

.text-in-pic__city-list--2ynD5 {
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center
}

.text-in-pic__city-list--2ynD5>div {
  margin: 0 20px 20px;
  font-size: 14px
}



@media screen and (max-width: 1023px) {
  .text-in-pic__city-list--2ynD5 {
    bottom:10%;
    justify-content: flex-start;
    bottom: 100px;
    margin-left: 40px
  }
}

@media screen and (max-width: 767px) {
  .text-in-pic__city-list--2ynD5 {
    bottom:20%
  }
}

@media screen and (max-width: 479px) {
  .text-in-pic__city-list--2ynD5 {
    padding-left:20px;
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    bottom: unset;
    flex-direction: column;
    margin: 30px 0 0
  }

  .text-in-pic__city-list--2ynD5>div {
    margin: 10px 0
  }
}

.text-in-pic__plans--3lNGP {
  color: #fff!important;
  font-size: 20px;
  letter-spacing: normal;
  margin-bottom: 20px
}

.text-in-pic__plan--2dyXN {
  background: #f9f9f9;
  flex-direction: row
}

.text-in-pic__plan--2dyXN,.text-in-pic__plan-container--1Otoy {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center
}


@media screen and (max-width: 767px) {
  .text-in-pic__plan-container--1Otoy {
    transform:scale(1)
  }
}

.text-in-pic__plan-container--1Otoy h1 {
  text-align: center;
  color: #000;
  white-space: nowrap
}

@media screen and (max-width: 767px) {
  .text-in-pic__plan-container--1Otoy h1 {
    white-space:break-spaces
  }
}


@media screen and (max-width: 767px) {
  .text-in-pic__two-block--2jCVK {
    transform:scale(1)
  }
}


@media screen and (max-width: 767px) {
  .text-in-pic__three-block--27cSM {
    transform:scale(1)
  }
}

.text-in-pic__fix-top--we0Nw,.text-in-pic__fix-top--we0Nw h1 {
  top: 0
}

.text-in-pic__commands-line--3AR1w {
  margin-bottom: 40px
}

.work-with-us__root--3AbrO {
  padding: 100px 40px 300px
}

@media screen and (max-width: 767px) {
  .work-with-us__root--3AbrO {
    padding-bottom:200px
  }
}

@media screen and (max-width: 479px) {
  .work-with-us__root--3AbrO {
    padding-bottom:100px
  }
}

.work-with-us__left-block--1UvsU {
  margin-top: 55px!important
}

.work-with-us__block--1MYVl {
  position: relative;
  margin: 45px 0
}

.work-with-us__block--1MYVl .work-with-us__hover--3dTda,.work-with-us__block--1MYVl:hover {
  color: #0035a0
}

.work-with-us__block--1MYVl .work-with-us__hover--3dTda img,.work-with-us__block--1MYVl:hover img {
  opacity: 1;
  transition: opacity 1s,left 1s;
  left: -220px
}

@media screen and (max-width: 1023px) {
  .work-with-us__block--1MYVl .work-with-us__hover--3dTda img,.work-with-us__block--1MYVl:hover img {
    left:-50px
  }
}

.work-with-us__block--1MYVl .work-with-us__hover--3dTda .work-with-us__title--rkOKe,.work-with-us__block--1MYVl:hover .work-with-us__title--rkOKe {
  transition: color .5s
}

@media screen and (max-width: 1023px) {
  .work-with-us__block--1MYVl .work-with-us__hover--3dTda .work-with-us__title--rkOKe,.work-with-us__block--1MYVl:hover .work-with-us__title--rkOKe {
    padding-top:30px
  }
}

.work-with-us__block--1MYVl .work-with-us__hover--3dTda .work-with-us__description--Iogtd,.work-with-us__block--1MYVl:hover .work-with-us__description--Iogtd {
  opacity: 1;
  max-height: 400px;
  transition: opacity 1s,max-height 1s ease-in
}

@media screen and (max-width: 1023px) {
  .work-with-us__block--1MYVl .work-with-us__hover--3dTda .work-with-us__description--Iogtd,.work-with-us__block--1MYVl:hover .work-with-us__description--Iogtd {
    transition:opacity 1s
  }
}

.work-with-us__block--1MYVl .work-with-us__title--rkOKe {
  margin-bottom: 14px;
  font-weight: 500;
  line-height: .93;
  letter-spacing: -.03em
}

.work-with-us__block--1MYVl .work-with-us__description--Iogtd {
  max-width: 600px;
  font-size: 20px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: -.2px;
  opacity: 0;
  transition: opacity .5s
}

@media screen and (max-width: 767px) {
  .work-with-us__block--1MYVl .work-with-us__description--Iogtd {
    max-height:0
  }
}

.work-with-us__block--1MYVl img {
  height: 190px;
  position: absolute;
  top: 0;
  left: -280px;
  opacity: 0;
  transition: opacity 1s,left 1s;
  z-index: 1
}

@media screen and (max-width: 1023px) {
  .work-with-us__block--1MYVl img {
    top:-100px
  }
}

.modal-success__modal--2t7KL {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.6);
  display: flex;
  justify-content: center;
  align-items: center
}

.modal-success__wrapper--3a9z4 {
  position: relative;
  background: #fff;
  padding: 50px 40px 54px;
  max-width: 540px
}

@media screen and (max-width: 767px) {
  .modal-success__wrapper--3a9z4 {
    width:100%;
    height: 100%;
    max-width: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px
  }
}

.modal-success__title--M5PIa {
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 44px;
  letter-spacing: -.03em;
  color: #000;
  margin-bottom: 22px
}

.modal-success__desc--1Y3-0 {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  color: #000
}

.modal-success__close--1tz8z {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer
}

.modal-success__close--1tz8z:hover {
  opacity: .6
}


@media screen and (max-width: 479px) {
  .field__field--CzOgE {
    background-color:#f5f5f5
  }
}

.field__border-focus--2fhOO:focus-within {
  padding: 0;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border: 2px solid #2289ff
}

.input__field--_BskY {
  position: relative;
  max-width: 100%;
  opacity: 1!important
}

.input__field--_BskY>svg:first-child {
  margin-left: 30px;
  cursor: pointer
}

.input__field--_BskY .input__close-icon--2mtCd {
  margin-right: 30px;
  cursor: pointer
}

.input__field--_BskY .input__close-icon--2mtCd g {
  fill: #000
}

.input__field--_BskY input {
  cursor: pointer
}

.input__checkbox--1TORB {
  position: relative;
  background-color: unset;
  justify-content: flex-start
}

input {
  height: 30px;
  width: 100%;
  max-width: 100%;
  margin: 20px 30px;
  background: transparent;
  border: none;
  font-size: 26px;
  color: #000;
  cursor: pointer
}

input.input__exist-svg--3dL80 {
  width: calc(100% - 120px)
}

input.input__exist-two-svg--2c7EN {
  width: calc(100% - 160px)
}

@media screen and (max-width: 1200px) {
  input {
    font-size:20px
  }
}

@media screen and (max-width: 767px) {
  input {
    font-size:18px
  }
}

input:focus {
  outline: none
}

input[type=file] {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 1;
  z-index: -1
}

input[type=checkbox],input[type=file] {
  position: absolute;
  opacity: 0;
  cursor: pointer
}

input[type=checkbox] {
  margin: 0;
  z-index: 10;
  width: 24px;
  height: 24px
}

input[type=checkbox]~span {
  padding: 2px 0 0 38px;
  display: inline-block
}

input[type=checkbox]~span>span {
  color: #0035a0;
  cursor: pointer
}

input[type=checkbox]~span>span:hover {
  text-decoration: underline
}

input[type=checkbox]~span:before {
  position: absolute;
  left: 0;
  top: 0;
  content: "";
  background: #eee;
  width: 24px;
  height: 24px;
  border-radius: 4px;
  transition: background .3s ease
}

input[type=checkbox]~span:after {
  position: absolute;
  content: "";
  top: 4px;
  left: 6px;
  transition: opacity .3s ease;
  width: 12px;
  height: 8px;
  box-shadow: -2px 2px 0 0 #fff;
  transform: rotate(-40deg) skewY(-5deg);
  opacity: 0
}

input[type=checkbox]:checked~span:before {
  background: #0035a0
}

input[type=checkbox]:checked~span:after {
  opacity: 1
}

.input__file-input--Zh17y {
  height: 30px;
  width: 100%;
  margin: 20px 30px;
  background: transparent;
  border: none;
  font-size: 26px;
  color: #828282;
  cursor: pointer
}

@media screen and (max-width: 767px) {
  .input__file-input--Zh17y {
    font-size:18px
  }
}

.input__error--3H-yz {
  margin-bottom: 40px!important
}

.input__error-text--1w4Tr {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #ee2727;
  margin-left: 30px
}

@media screen and (max-width: 767px) {
  .input__error-text--1w4Tr {
    font-size:18px;
    margin-left: 20px
  }
}

.input__label--25004 {
  position: relative
}

.input__label--25004 .input__error-text--1w4Tr {
  left: 38px
}

.input__file-name--2JOId {
  color: #000
}

.input__hide-icon--2I6WB {
  z-index: -1;
  opacity: 0
}

.row__row--3PGTd {
  display: flex;
  flex-direction: row;
  margin-left: -9px;
  margin-right: -9px
}

.row__row--3PGTd>* {
  margin: 10px
}

@media screen and (max-width: 767px) {
  .row__row--3PGTd>* {
    margin:4px
  }
}

.select__field--2Vf9U {
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 2;
  opacity: 1!important
}

.select__field--2Vf9U svg {
  transition: transform .5s
}

.select__title-selected--17_t1 {
  color: #000
}

.select__title--3oxLm {
  height: 30px;
  width: 100%;
  margin: 20px 30px;
  background: transparent;
  font-size: 26px;
  color: #9f9f9f;
  display: flex;
  justify-content: space-between;
  align-items: center
}

@media screen and (max-width: 767px) {
  .select__title--3oxLm {
    font-size:18px
  }
}

.select__is-open--4c2PE svg {
  transform: rotate(180deg)
}

.select__options--1tDB8 {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 2
}

.select__list-wrapper--2Blo3 {
  overflow: hidden;
  position: relative;
  border-radius: 35.5px;
  background: #f5f5f5;
  box-shadow: 0 10px 12px 0 rgba(0,0,0,.12);
  max-height: 50vh;
  overflow-y: scroll
}

.select__list--3gsso {
  padding: 0;
  margin: 0;
  list-style: none
}

.select__list--3gsso::-webkit-scrollbar {
  display: none
}

.select__item--1xpDL {
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 15%;
  align-items: center;
  margin-bottom: auto
}

@media screen and (max-width: 767px) {
  .select__item--1xpDL {
    height:40px;
    font-size: 18px
  }
}

.select__item--1xpDL:before {
  content: none
}

.select__item--1xpDL:hover:not(.select__selected--3IPQm) {
  color: #0035a0
}

.select__selected--3IPQm {
  background-color: #0035a0;
  color: #fff
}

.select__active--1eM_g {
  z-index: 3
}

.select__error--4Q3BI {
  margin-bottom: 40px!important
}

.select__error-text--Z-_8d {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #ee2727;
  margin-left: 30px
}

@media screen and (max-width: 767px) {
  .select__error-text--Z-_8d {
    font-size:18px;
    margin-left: 20px
  }
}

.textarea__field--NkeQ1 {
  position: relative;
  max-width: 100%;
  opacity: 1!important
}

.textarea__field--NkeQ1 textarea,textarea {
  cursor: pointer
}

textarea {
  width: 100%;
  max-width: 100%;
  margin: 20px 28px;
  background: transparent;
  border: none;
  font-size: 22px;
  color: #000;
  max-height: 145px;
  resize: none
}

@media screen and (max-width: 767px) {
  textarea {
    font-size:18px;
    margin: 12px 18px
  }
}

@media screen and (max-width: 1023px) {
  textarea {
    max-height:102px
  }
}

textarea:focus {
  outline: none
}

.textarea__error--1sza6 {
  margin-bottom: 40px!important
}

.textarea__error-text--QOinN {
  position: absolute;
  bottom: -25px;
  left: 0;
  color: #ee2727
}

.popup-personal-info__root--1Lezl {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll
}

.popup-personal-info__body--1ZcuZ {
  max-width: 700px;
  color: #fff;
  display: flex;
  flex-direction: column;
  margin: 100px 0
}

@media screen and (max-width: 767px) {
  .popup-personal-info__body--1ZcuZ {
    padding:0;
    margin: 60px 0
  }
}

.popup-personal-info__body--1ZcuZ h2 {
  padding: 65px 0 51px
}

.popup-personal-info__body--1ZcuZ p {
  line-height: 1.5;
  letter-spacing: -.63px
}

.popup-personal-info__header--27l1p {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center
}

.popup-personal-info__header--27l1p .popup-personal-info__close--3XL4v {
  cursor: pointer;
  z-index: 3
}

.popup-personal-info__popup-root--vxP0n {
  background-color: #000
}

.form__row--1lmx- {
  flex-wrap: wrap
}

.form__row--1lmx- input {
  font-size: 22px;
  height: 24px
}

@media screen and (max-width: 1200px) {
  .form__row--1lmx- input {
    font-size:22px
  }
}

@media screen and (max-width: 767px) {
  .form__row--1lmx- input {
    font-size:18px;
    height: 24px;
    margin: 12px 20px
  }
}

@media screen and (max-width: 767px) {
  .form__row--1lmx->button,.form__row--1lmx->div {
    flex:0 calc(100% - 18px)!important
  }
}

.form__button--3QzUd {
  background: #0035a0
}

.form__option--1CQug li {
  padding-left: 30px
}

@media screen and (max-width: 767px) {
  .form__option--1CQug li {
    padding-left:20px
  }
}

.form__select--1wNBd {
  height: 24px;
  font-size: 22px;
  color: #757575
}

@media screen and (max-width: 1200px) {
  .form__select--1wNBd {
    font-size:22px
  }
}

@media screen and (max-width: 767px) {
  .form__select--1wNBd {
    font-size:18px;
    height: 22px;
    margin: 12px 20px
  }
}

.form__select--1wNBd svg {
  opacity: .4
}

a.form__personal-link--2AV24 {
  color: #0035a0
}

.write-to-us__twoBlocks--3wusv {
  padding: 80px 40px
}

@media screen and (max-width: 767px) {
  .write-to-us__twoBlocks--3wusv {
    padding:80px 26px
  }
}

@media screen and (max-width: 1023px) {
  .write-to-us__twoBlocks--3wusv {
    padding:60px 20px
  }
}

.write-to-us__twoBlocks--3wusv .write-to-us__links--gCUgw {
  font-size: 16px;
  margin-bottom: 25px
}

.write-to-us__twoBlocks--3wusv .write-to-us__link--KEweM:hover {
  color: #0035a0
}

.contact__contactBlock--KwGxB {
  padding-top: 170px
}

@media screen and (max-width: 1023px) {
  .contact__contactBlock--KwGxB {
    padding-top:120px
  }
}

@media screen and (max-width: 479px) {
  .contact__contactBlock--KwGxB {
    padding-top:100px
  }
}

.contact__infoBlock--l3e_I {
  margin-top: 50px;
  display: flex;
  justify-content: space-between
}

@media screen and (max-width: 1023px) {
  .contact__infoBlock--l3e_I {
    flex-direction:column
  }
}

@media screen and (max-width: 479px) {
  .contact__infoBlock--l3e_I {
    margin-top:26px
  }
}

.contact__item--3CVZy {
  border-left: 1px solid #e6e6e6;
  padding: 0 20px;
  width: 25%;
  min-height: 130px;
  display: flex;
  flex-direction: column
}

.contact__item--3CVZy:first-child {
  border-left: none;
  padding-left: 0
}

@media screen and (max-width: 1023px) {
  .contact__item--3CVZy {
    flex-direction:row;
    width: 100%;
    border-left: none;
    border-bottom: 1px solid #e6e6e6;
    padding: 20px 0;
    min-height: auto
  }

  .contact__item--3CVZy:first-child {
    padding-top: 0
  }

  .contact__item--3CVZy:last-child {
    border: none
  }
}

@media screen and (max-width: 479px) {
  .contact__item--3CVZy {
    flex-direction:column;
    padding: 14px 0
  }
}

.contact__item__title--33ihq {
  font-size: 30px;
  line-height: 32px;
  letter-spacing: -.03em;
  max-width: 240px;
  padding-bottom: 20px
}

@media screen and (max-width: 1023px) {
  .contact__item__title--33ihq {
    width:50%;
    max-width: 100%;
    padding-bottom: 0;
    padding-right: 20px
  }
}

@media screen and (max-width: 479px) {
  .contact__item__title--33ihq {
    width:100%;
    padding-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
    padding-right: 0
  }
}

.contact__item__link--2utWG {
  margin-top: auto;
  font-size: 20px;
  line-height: 24px;
  color: #0035a0;
  display: block
}

@media screen and (max-width: 1023px) {
  .contact__item__link--2utWG {
    max-width:50%;
    margin-top: 0;
    font-size: 22px
  }
}

@media screen and (max-width: 479px) {
  .contact__item__link--2utWG {
    font-size:18px;
    line-height: 22px
  }
}

.contact__imgBlock--3NhRm {
  margin-top: 50px
}

@media screen and (max-width: 1023px) {
  .contact__imgBlock--3NhRm {
    margin-top:20px
  }
}

.contact__imgBlock--3NhRm img {
  display: block;
  width: 100%
}

.about__twoBlocks--2M2Jp {
  padding: 80px 40px 30px
}


@media screen and (max-width: 479px) {
  .about__twoBlocks--2M2Jp {
    padding:60px 20px 70px
  }
}

.about__desc--3v4gE {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  max-width: 670px;
  margin-bottom: 30px
}

.balls__wrapper--2fxXk {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 470px
}

@media screen and (max-width: 767px) {
  .balls__wrapper--2fxXk {
    min-height:300px
  }
}

.balls__subwrapper--2tylR {
  display: flex;
  align-items: center
}

@media screen and (max-width: 767px) {
  .balls__subwrapper--2tylR {
    flex-direction:column;
    align-items: inherit
  }
}


.balls__ball--1BXoV:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f4f4f4;
  border-radius: 50%;
  opacity: 1
}

.balls__wrapperBall--_zFtd {
  flex: 1;
  max-width: 370px;
  transition: all .3s;
  margin-right: 17px
}

.balls__wrapperBall--_zFtd:last-child {
  margin-right: 0
}

@media screen and (max-width: 767px) {
  .balls__wrapperBall--_zFtd {
    max-width:230px;
    margin-right: 0;
    margin-bottom: 17px
  }
}

.balls__title--3RLcD {
  font-weight: 500;
  font-size: 38px;
  line-height: 38px;
  padding: 0 20px;
  text-align: center;
  letter-spacing: -.03em
}

@media screen and (max-width: 935px) {
  .balls__title--3RLcD {
    font-size:25px;
    line-height: 24px
  }
}

.balls__activeBall--Q30B9 .balls__ball--1BXoV:after {
  transition: all .2s;
  opacity: 0
}

.balls__activeBall--Q30B9 .balls__hideText--1fmRK {
  opacity: 0
}

.balls__activeBall--Q30B9 .balls__desc--1Q-wm {
  width: 470px;
  opacity: .6
}

@media screen and (max-width: 1023px) {
  .balls__activeBall--Q30B9 .balls__desc--1Q-wm {
    width:350px
  }
}

@media screen and (max-width: 767px) {
  .balls__activeBall--Q30B9 .balls__desc--1Q-wm {
    width:400px
  }
}

@media screen and (max-width: 479px) {
  .balls__activeBall--Q30B9 .balls__desc--1Q-wm {
    width:300px
  }
}

.balls__activeBall--Q30B9.balls__wrapperBall--_zFtd {
  max-width: 470px
}

@media screen and (max-width: 1023px) {
  .balls__activeBall--Q30B9.balls__wrapperBall--_zFtd {
    max-width:350px
  }
}

@media screen and (max-width: 767px) {
  .balls__activeBall--Q30B9.balls__wrapperBall--_zFtd {
    max-width:400px
  }
}

@media screen and (max-width: 479px) {
  .balls__activeBall--Q30B9.balls__wrapperBall--_zFtd {
    width:300px
  }
}

.balls__hideText--1fmRK {
  position: absolute;
  z-index: 2;
  opacity: 1
}

.balls__desc--1Q-wm {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000;
  opacity: 0;
  margin-top: 15px;
  padding: 0 40px;
  transition: opacity .3s;
  transition-delay: .3s;
  letter-spacing: normal
}

@media screen and (max-width: 767px) {
  .balls__desc--1Q-wm {
    font-size:14px;
    line-height: 15px
  }
}

.balls__text--3aclA {
  font-weight: 500;
  font-size: 38px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -.03em
}

.header__wrapper--1wIeu {
  position: relative;
  background: linear-gradient(241.96deg,#0d47cb,#010d70);
  width: 100%;
  height: 100vh;
  overflow: hidden;
  max-height: 610px;
  min-height: 400px
}

@media screen and (max-width: 767px) {
  .header__wrapper--1wIeu {
    max-height:524px
  }
}

@media screen and (max-width: 479px) {
  .header__wrapper--1wIeu {
    max-height:400px
  }
}

@media screen and (max-height: 520px) {
  .header__wrapper--1wIeu {
    min-height:550px
  }
}

.header__title--1hNei {
  position: relative;
  z-index: 2;
  font-weight: 500;
  font-size: 72px;
  line-height: 70px;
  letter-spacing: -.03em;
  color: #fff;
  max-width: 777px;
  padding-top: 103px
}

@media screen and (max-width: 767px) {
  .header__title--1hNei {
    padding-top:123px;
    font-size: 64px;
    line-height: 60px
  }
}

@media screen and (max-width: 479px) {
  .header__title--1hNei {
    padding-top:100px;
    font-size: 44px;
    line-height: 40px
  }
}

.header__bg--3iteb {
  position: absolute;
  bottom: -25%;
  left: -5%;
  width: 100%;
  z-index: 2;
  height: auto;
  -webkit-animation: header__opacityAnimate--28may 1s linear;
  animation: header__opacityAnimate--28may 1s linear
}

@media screen and (max-width: 1023px) {
  .header__bg--3iteb {
    bottom:-50%;
    left: -40%;
    width: 150%
  }
}

@media screen and (max-width: 767px) {
  .header__bg--3iteb {
    bottom:-40%;
    left: -20%
  }
}

@media screen and (min-width: 1666px) {
  .header__bg--3iteb {
    bottom:-40%
  }
}

@media screen and (max-width: 600px) {
  .header__bg--3iteb {
    bottom:-30%;
    bottom: -20%
  }
}

@media screen and (min-width: 1960px) {
  .header__bg--3iteb {
    bottom:-50%
  }
}

@media screen and (min-width: 2200px) {
  .header__bg--3iteb {
    bottom:-60%
  }
}

@-webkit-keyframes header__opacityAnimate--28may {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

@keyframes header__opacityAnimate--28may {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.info__twoBlocks--1mUnx {
  padding: 80px 40px 30px
}

@media screen and (max-width: 767px) {
  .info__twoBlocks--1mUnx {
    padding:80px 0 50px
  }
}

@media screen and (max-width: 479px) {
  .info__twoBlocks--1mUnx {
    padding:60px 0 70px
  }
}

.info__twoBlocks--1mUnx h1 {
  letter-spacing: normal!important
}

.info__desc--GkCze {
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  max-width: 670px;
  margin-bottom: 30px
}

@media screen and (max-width: 767px) {
  .info__desc--GkCze {
    font-size:18px
  }
}

.info__arrow--1jofo {
  margin-left: 10px
}

.info__wrapper--1MA-8 {
  background-color: #000427;
  padding-bottom: 100px;
  padding-top: 500px;
  margin-top: 70px;
  position: relative
}

@media screen and (max-width: 1023px) {
  .info__wrapper--1MA-8 {
    padding-top:200px
  }
}

@media screen and (max-width: 767px) {
  .info__wrapper--1MA-8 {
    padding-top:240px;
    padding-bottom: 20px
  }
}


@media screen and (max-width: 767px) {
  .info__bg--diZyK {
    height:55%;
    background-size: cover;
    background-position: 30%
  }
}

.info__video--3PT0p {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%
}

.product__titleTop--dmBTo {
  padding-top: 170px;
  padding-bottom: 0
}

@media screen and (max-width: 1023px) {
  .product__titleTop--dmBTo {
    padding-top:120px
  }
}

@media screen and (max-width: 479px) {
  .product__titleTop--dmBTo {
    padding-top:100px
  }
}

.product__video--aQ0s1 {
  width: 100%;
  height: 51.4vw;
  min-height: 210px
}

.product__video--aQ0s1 video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}

.product__title--15s7- {
  padding-bottom: 0;
  padding-top: 80px
}

@media screen and (max-width: 479px) {
  .product__title--15s7- {
    padding-top:60px
  }
}

.product__title--15s7- h1 {
  margin-bottom: 0
}

.product__text--1Mgyu {
  margin-left: 35vw;
  max-width: 670px;
  font: 500 18px/24px SF Pro,-apple-system,BlinkMacSystemFont,Arial,Segoe UI,Roboto,Helvetica,Ubuntu,Cantarell,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}

@media screen and (max-width: 1023px) {
  .product__text--1Mgyu {
    margin-left:0;
    padding: 0 25px;
    max-width: 100%
  }
}

@media screen and (max-width: 479px) {
  .product__text--1Mgyu {
    font-size:18px;
    line-height: 22px;
    padding: 0 20px
  }
}

.product__text_description--eSCls {
  opacity: .6;
  font-size: 18px;
  margin-top: 50px;
  line-height: 24px
}

@media screen and (max-width: 1023px) {
  .product__text_description--eSCls {
    font-size:16px;
    line-height: 22px;
    max-width: 535px
  }
}

.product__diagramBlock--2crAp {
  margin-top: 70px
}

@media screen and (max-width: 1023px) {
  .product__diagramBlock--2crAp {
    overflow-y:auto;
    margin-top: 50px
  }
}

.product__diagramBlock--2crAp img {
  width: 100%;
  display: block;
  padding: 0 40px
}

@media screen and (max-width: 1023px) {
  .product__diagramBlock--2crAp img {
    width:auto;
    padding: 0 25px
  }
}

@media screen and (max-width: 479px) {
  .product__diagramBlock--2crAp img {
    width:270vw;
    padding: 0 20px
  }
}

.product__leftBlock--1Eayk {
  max-width: 210px
}

@media screen and (max-width: 1023px) {
  .product__leftBlock--1Eayk {
    max-width:100%
  }
}

@media screen and (max-width: 479px) {
  .product__leftBlock--1Eayk {
    margin-bottom:10px
  }
}

.product__rightItem--YsNlL {
  margin-bottom: 60px
}

@media screen and (max-width: 1023px) {
  .product__rightItem--YsNlL {
    margin-bottom:50px
  }
}

@media screen and (max-width: 479px) {
  .product__rightItem--YsNlL {
    margin-bottom:40px
  }
}

.product__rightItem--YsNlL:last-child {
  margin-bottom: 0
}

.product__right-title--3Y16S {
  font-size: 60px;
  line-height: 60px
}

@media screen and (max-width: 1023px) {
  .product__right-title--3Y16S {
    font-size:48px;
    line-height: 48px
  }
}

@media screen and (max-width: 479px) {
  .product__right-title--3Y16S {
    font-size:36px;
    line-height: 36px
  }
}

.product__right-description--1ghda {
  font: 500 18px/24px SF Pro,-apple-system,BlinkMacSystemFont,Arial,Segoe UI,Roboto,Helvetica,Ubuntu,Cantarell,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
  opacity: .6;
  margin-top: 10px;
  max-width: 670px
}

@media screen and (max-width: 1023px) {
  .product__right-description--1ghda {
    font-size:16px;
    line-height: 22px;
    max-width: 545px
  }
}

@media screen and (max-width: 479px) {
  .product__right-description--1ghda {
    font-size:16px;
    line-height: 20px
  }
}

.product__twoBlocks--3DUUt {
  padding-bottom: 120px
}

@media screen and (max-width: 1023px) {
  .product__twoBlocks--3DUUt {
    padding-bottom:60px
  }
}

@media screen and (max-width: 479px) {
  .product__twoBlocks--3DUUt {
    padding-bottom:20px;
    padding-top: 80px
  }
}

.hh__big-max-width--2Rowf {
  max-width: 125%!important;
  width: 125vw!important
}

.background-big-image__image--GQkvX {
  position: absolute;
  right: 40px;
  top: 50px;
  overflow: hidden;
  z-index: -1;
  width: 100%;
  -webkit-animation: background-big-image__zoomAnimate--w5r3g 1s linear;
  animation: background-big-image__zoomAnimate--w5r3g 1s linear;
  transition: transform .5s,opacity .2s
}

@media screen and (min-width: 1024px) {
  .background-big-image__image--GQkvX {
    max-width:430px
  }
}

@media screen and (max-width: 1023px) {
  .background-big-image__image--GQkvX {
    max-width:60%
  }
}

@media screen and (max-width: 767px) {
  .background-big-image__image--GQkvX {
    max-width:40%;
    padding-top: 75px;
    padding-right: 20px
  }
}

@media screen and (max-width: 479px) {
  .background-big-image__image--GQkvX {
    opacity:0
  }
}

@-webkit-keyframes background-big-image__zoomAnimate--w5r3g {
  0% {
    transform: scale(1.15);
    opacity: 0
  }

  50% {
    transform: scale(1.07);
    opacity: 1
  }

  to {
    transform: scale(1)
  }
}

@keyframes background-big-image__zoomAnimate--w5r3g {
  0% {
    transform: scale(1.15);
    opacity: 0
  }

  50% {
    transform: scale(1.07);
    opacity: 1
  }

  to {
    transform: scale(1)
  }
}

.success__super--_f8q_ {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 200px
}

.success__super--_f8q_>*>* {
  opacity: 1!important
}

.success__super--_f8q_ .success__h1--2i7gS {
  font-size: 202px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 35px;
  text-align: center
}

@media screen and (max-width: 1023px) {
  .success__super--_f8q_ .success__h1--2i7gS {
    font-size:100px
  }
}

@media screen and (max-width: 767px) {
  .success__super--_f8q_ .success__h1--2i7gS {
    font-size:80px;
    font-size: 60px
  }
}

.feedback-form__checkbox--3HQgx {
  margin-top: 20px
}

.feedback-form__personal-link--2Lv2i {
  color: #000!important;
  text-decoration: none
}

.feedback-form__row--2onzu {
  flex-wrap: wrap
}

.feedback-form__row--2onzu .feedback-form__portfolio--13jGY {
  flex: 0 100%
}

@media screen and (max-width: 767px) {
  .feedback-form__row--2onzu>div {
    flex:0 calc(100% - 18px)!important
  }
}

.not-find-vacancy__two-blocks--kFXqj {
  padding-bottom: 150px
}

.breadcrumb__root--3o7J0 {
  color: #0035a0;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px
}

@media screen and (max-width: 767px) {
  .breadcrumb__root--3o7J0 {
    margin-bottom:11px
  }
}

.breadcrumb__root--3o7J0>* {
  margin-right: 7px
}

.breadcrumb__root--3o7J0 a {
  color: #0035a0
}

.filters-vacancy__filters--Dx6uE {
  display: flex;
  flex-direction: row;
  margin: 0 -9px;
  flex-wrap: wrap
}

.filters-vacancy__filters--Dx6uE>* {
  margin: 10px 9px
}

@media screen and (max-width: 1200px) {
  .filters-vacancy__filters--Dx6uE>* {
    flex:0 calc(50% - 18px)
  }
}

@media screen and (max-width: 479px) {
  .filters-vacancy__filters--Dx6uE>* {
    margin:10px 0;
    flex: 0 100%
  }
}

@media screen and (max-width: 1023px) {
  .filters-vacancy__filters--Dx6uE:nth-child(3)>.filters-vacancy__vacancy--1QOt7 {
    flex:0 100%
  }
}

.not-found__not-found--20jWT h2 {
  margin-bottom: 30px
}

.vacancy-list__vacancies--3NVl5 {
  display: flex;
  flex-direction: column
}

.vacancy-list__vacancies--3NVl5 .vacancy-list__vacancy--1AuTi {
  margin: 0 0 50px;
  cursor: pointer
}

.vacancy-list__vacancies--3NVl5 .vacancy-list__vacancy--1AuTi div {
  margin-top: 5px
}

.vacancy-list__vacancies--3NVl5 .vacancy-list__vacancy--1AuTi span {
  opacity: 0;
  transition: opacity .5s
}

.vacancy-list__vacancies--3NVl5 .vacancy-list__vacancy--1AuTi:visited {
  color: #656565
}

.vacancy-list__vacancies--3NVl5 .vacancy-list__vacancy--1AuTi:hover {
  color: #0035a0
}

.vacancy-list__vacancies--3NVl5 .vacancy-list__vacancy--1AuTi:hover span {
  opacity: 1
}

.vacancy-list__two-blocks--3xl5v {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 100px;
  width: 100%
}

@media screen and (max-width: 1023px) {
  .vacancy-list__two-blocks--3xl5v {
    padding-bottom:20px
  }
}

@media screen and (max-width: 1023px) {
  .vacancy-list__left-block--PNL7D {
    margin-bottom:40px
  }
}

.vacancies-list__root--2JyKi {
  margin-top: 150px
}

.vacancies-list__vacancies--2pm2T {
  display: flex;
  flex-direction: column
}

.vacancies-list__vacancies--2pm2T .vacancies-list__vacancy--1NzEg {
  margin: 0 0 50px;
  cursor: pointer
}

.vacancies-list__vacancies--2pm2T .vacancies-list__vacancy--1NzEg div {
  margin-top: 5px
}

.vacancies-list__vacancies--2pm2T .vacancies-list__vacancy--1NzEg span {
  opacity: 0;
  transition: opacity .5s
}

.vacancies-list__vacancies--2pm2T .vacancies-list__vacancy--1NzEg:visited {
  color: #656565
}

.vacancies-list__vacancies--2pm2T .vacancies-list__vacancy--1NzEg:hover {
  color: #0035a0
}

.vacancies-list__vacancies--2pm2T .vacancies-list__vacancy--1NzEg:hover span {
  opacity: 1
}

.vacancies-list__two-blocks--MuQaw {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 100px
}

@media screen and (max-width: 1023px) {
  .vacancies-list__two-blocks--MuQaw {
    padding-bottom:20px
  }
}

@media screen and (max-width: 1023px) {
  .vacancies-list__left-block--3BRAK {
    margin-bottom:40px
  }
}

.vacancies-list__h1--2ekS0 {
  margin: 0 0 40px
}

@media screen and (max-width: 767px) {
  .vacancies-list__h1--2ekS0 {
    max-width:50%
  }
}

.specialization-card__specialization--1RGI- {
  width: 300px;
  margin: 30px 9px
}

@media screen and (max-width: 1023px) {
  .specialization-card__specialization--1RGI- {
    width:210px;
    margin: 30px 9px
  }
}

@media screen and (max-width: 479px) {
  .specialization-card__specialization--1RGI- {
    width:155px
  }
}

.specialization-card__specialization--1RGI- .specialization-card__image--3PGzk {
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  max-width: 60%
}

@media screen and (max-width: 767px) {
  .specialization-card__specialization--1RGI- .specialization-card__image--3PGzk {
    height:150px
  }
}

.specialization-card__specialization--1RGI- .specialization-card__image--3PGzk img {
  max-width: 100%;
  max-height: 100%;
  transition: transform .4s
}

.specialization-card__specialization--1RGI- .specialization-card__image--3PGzk:hover img {
  transform: scale(1.2)
}

.specialization-card__specialization--1RGI- .specialization-card__title--Lndtl {
  margin-bottom: 2px
}

.specialization-card__specialization--1RGI- .specialization-card__description--376dH {
  opacity: .4;
  margin-bottom: 15px
}

.specialization-card-list__root--8eEt7 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 150px
}

.specialization-card-list__root--8eEt7 h1 {
  margin-bottom: 40px
}

.specialization-card-list__root--8eEt7 .specialization-card-list__specialization-list--1I_Br {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 -9px
}

.tag__tag-list--2wCFZ {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%
}

.tag__tag--10JcZ {
  background-color: #0064ed;
  color: #fff;
  padding: 8px 10px;
  border-radius: 23.5px;
  margin: 2px
}

.info-vacancy__two-blocks--1lFui {
  padding: 0 0 100px
}

@media screen and (max-width: 1023px) {
  .info-vacancy__two-blocks--1lFui {
    flex-direction:column
  }
}

.info-vacancy__root--28NQe .info-vacancy__description--36A80 {
  margin: 15px 0 70px
}

.info-vacancy__vacancy--1vRbF {
  font-size: 30px
}

@media screen and (max-width: 767px) {
  .info-vacancy__vacancy--1vRbF {
    font-size:24px
  }
}

.info-vacancy__vacancy--1vRbF p {
  font-size: 30px
}

@media screen and (max-width: 767px) {
  .info-vacancy__vacancy--1vRbF p {
    font-size:24px
  }
}

.info-vacancy__left-block--1dPqg {
  margin-top: 0!important
}

@media screen and (max-width: 1023px) {
  .info-vacancy__left-block--1dPqg {
    margin-bottom:30px
  }
}

.info-vacancy__key-skills--3D9OL>p {
  color: #9f9f9f;
  margin-bottom: 19px
}

.info-vacancy__gray-text--oXAA7 {
  margin: 35px 0 0;
  color: #9f9f9f
}

@media screen and (max-width: 479px) {
  .info-vacancy__gray-text--oXAA7 {
    font-size:14px!important
  }
}

.vacancy__root--3rjqS {
  margin-top: 150px
}

.vacancy__reverse--2pspN {
  flex-direction: row-reverse
}

@media screen and (max-width: 1023px) {
  .vacancy__reverse--2pspN {
    padding-top:10px
  }
}

@media screen and (max-width: 1023px) {
  .vacancy__reverse--2pspN>:first-child {
    display:none
  }
}

.footer__root--25vWK {
  display: flex;
  flex-direction: row;
  padding: 80px 40px;
  background-color: #f7f7f7
}

@media screen and (max-width: 1023px) {
  .footer__root--25vWK {
    padding:80px 25px 40px;
    flex-direction: column
  }
}

@media screen and (max-width: 479px) {
  .footer__root--25vWK {
    padding:40px 20px
  }
}

.footer__root--25vWK>*>* {
  opacity: 1!important
}

.footer__root--25vWK .footer__menu--Mr-8V {
  display: flex;
  flex-direction: column;
  margin-right: 20px
}

@media screen and (max-width: 1023px) {
  .footer__root--25vWK .footer__menu--Mr-8V {
    margin-bottom:40px
  }
}

@media screen and (max-width: 479px) {
  .footer__root--25vWK .footer__menu--Mr-8V {
    margin-bottom:20px
  }
}

.footer__root--25vWK .footer__menu--Mr-8V a {
  font-size: 72px;
  font-weight: 500;
  line-height: .93;
  letter-spacing: -.03em;
  color: #000
}

.footer__root--25vWK .footer__menu--Mr-8V a:hover {
  color: #0035a0!important
}

.footer__active--3jUrF {
  color: #9f9f9f!important
}

.footer__info--1wTzg {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  flex: 4
}

.footer__address--1Tu0I {
  max-width: 440px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  margin-right: 20px
}

@media screen and (max-width: 1023px) {
  .footer__address--1Tu0I {
    margin-bottom:20px
  }
}

.footer__icons--2Iekm {
  margin-top: 20px
}

.footer__icons--2Iekm a:hover,.footer__icons--2Iekm svg:hover {
  color: unset!important
}

.footer__icons--2Iekm svg {
  width: 36px;
  height: 36px;
  margin: 0 25px 0 0;
  -o-object-fit: contain;
  object-fit: contain
}

@media screen and (max-width: 1023px) {
  .footer__icons--2Iekm svg {
    margin-bottom:40px
  }
}

@media screen and (max-width: 479px) {
  .footer__icons--2Iekm svg {
    width:28px;
    height: 28px;
    margin-right: 20px
  }
}

.footer__copyright--2f9uf {
  margin-top: auto;
  font-size: 18px;
  max-width: 310px
}

@media screen and (max-width: 1023px) {
  .footer__address--1Tu0I,.footer__copyright--2f9uf {
    font-size:18px;
    line-height: 22px;
    max-width: 100%
  }
}

@media screen and (max-width: 479px) {
  .footer__address--1Tu0I,.footer__copyright--2f9uf {
    font-size:14px
  }
}

.footer__colored--3JADu,.footer__colored--3JADu a {
  color: #fff
}

.footer__languageSwitch--PO8Z0 {
  margin-left: auto;
  cursor: pointer;
  font-size: 18px
}

@media screen and (max-width: 479px) {
  .footer__languageSwitch--PO8Z0 {
    margin-left:0;
    margin-bottom: 30px
  }
}

.footer__languageSwitch--PO8Z0 div:hover {
  color: #0035a0
}

.footer__tabletCopyright--1rxMk {
  display: flex;
  justify-content: space-between
}

.footer__menuBlock--3HsqO {
  flex: 7.826;
  display: flex
}

@media screen and (max-width: 1023px) {
  .footer__menuBlock--3HsqO {
    display:block
  }
}

.mobile-menu__menu-icon--Rj_PC {
  z-index: 5;
  color: #fff
}

@media screen and (max-width: 479px) {
  .mobile-menu__menu-icon--Rj_PC {
    right:20px;
    top: 20px
  }
}

.mobile-menu__menu-icon--Rj_PC.mobile-menu__black-icon--3hlHN {
  color: #000
}

.mobile-menu__logo-icon--3kW9u {
  position: absolute;
  left: 25px;
  top: 35px
}

@media screen and (max-width: 479px) {
  .mobile-menu__logo-icon--3kW9u {
    left:20px;
    top: 25px
  }
}

.mobile-menu__popup--1xbsk {
  padding: 120px 0 0;
  height: 100%;
  display: flex;
  flex-direction: column
}

@media screen and (max-width: 767px) {
  .mobile-menu__popup--1xbsk {
    padding-top:100px
  }
}

@media screen and (max-width: 479px) {
  .mobile-menu__popup--1xbsk {
    margin:0
  }
}

.mobile-menu__popup--1xbsk .mobile-menu__links--3bXbZ {
  display: flex;
  flex-direction: column;
  font-size: 26px;
  font-weight: 500;
  letter-spacing: -.85px;
  margin-bottom: 90px
}

@media screen and (max-width: 767px) {
  .mobile-menu__popup--1xbsk .mobile-menu__links--3bXbZ {
    margin-bottom:20px
  }
}

.mobile-menu__popup--1xbsk .mobile-menu__links--3bXbZ a {
  color: #fff
}

.mobile-menu__popup--1xbsk .mobile-menu__links--3bXbZ .mobile-menu__active--3227r {
  color: #54a3f5
}

.mobile-menu__popup--1xbsk .mobile-menu__svg--1Z9jK path,.mobile-menu__popup--1xbsk .mobile-menu__svg--1Z9jK stroke {
  fill: #fff
}

.mobile-menu__popup--1xbsk .mobile-menu__svg--1Z9jK circle {
  stroke: #fff
}

.mobile-menu__popup--1xbsk .mobile-menu__address--332p_ {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -.2px;
  color: #fff
}

.mobile-menu__tabletCopyright--cBite {
  display: flex;
  justify-content: space-between
}

.mobile-menu__popupWrapper--3cUF6 {
  height: 100%
}

.mobile-menu__footer--3e88o {
  margin-top: auto;
  margin-bottom: 30px
}

@media screen and (max-width: 479px) {
  .mobile-menu__footer--3e88o {
    margin-bottom:20px
  }
}

.mobile-menu__lang--XoRA5 div:hover {
  color: #fff
}

@media screen and (max-width: 767px) {
  .mobile-menu__lang--XoRA5 {
    margin-left:0
  }
}

.header__fixed-header--BWv_t {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 35px 20px;
  background-color: #fff;
  transition: background-color 1s
}

@media screen and (max-width: 479px) {
  .header__fixed-header--BWv_t {
    padding:25px 20px
  }
}

@media screen and (max-width: 1023px) {
  .header__background-white--SHwP_ g {
    fill:#fff
  }
}

.header__no-background--23I1b {
  background: none
}

.header__root--vEGkA {
  display: flex
}

.header__root--vEGkA a {
  margin-right: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  color: #fff
}

.header__root--vEGkA a:empty,.header__root--vEGkA a:last-child {
  margin-right: 0
}

.header__root--vEGkA a:hover {
  color: #9ac2f4
}

.header__root--vEGkA a:hover:before {
  background-color: #9ac2f4
}

.header__root--vEGkA .header__active--NgAXb {
  position: relative
}

.header__root--vEGkA .header__active--NgAXb:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  text-align: center;
  bottom: -15px;
  background-color: #fff;
  left: 0;
  right: 0;
  margin: 0 auto
}

.header__black--2CWn8 a {
  color: #000
}

.header__black--2CWn8 a:before {
  background-color: #000
}

.header__black--2CWn8 a:hover {
  color: #0035a0
}

.header__black--2CWn8 a:hover:before {
  background-color: #0035a0
}

.header__black--2CWn8 a.header__active--NgAXb {
  color: #0035a0
}

.header__black--2CWn8 a.header__active--NgAXb:before {
  background-color: #0035a0
}

.header__black-icon--2bpck g {
  fill: #000
}

.header__logo-header--1KUHT {
  cursor: pointer
}

@media screen and (max-width: 479px) {
  .header__logo-header--1KUHT {
    max-width:180px
  }
}

#app>div>div:not(.on-view-text)>:not(.on-view-text) {
  opacity: 0
}

.on-view-text {
  opacity: 1;
  transition: opacity 1s
}

.cookies-popup__cookies_popup--2DvYi {
  position: fixed;
  z-index: 99;
  overflow-y: scroll;
  bottom: 0
}

.cookies-popup__cookies_popup--2DvYi::-webkit-scrollbar {
  display: none
}

.cookies-popup__cookies_popup_content--1sEO6 {
  display: flex;
  align-items: center;
  padding: 30px;
  margin-bottom: 10px;
  background: rgba(0,0,0,.9);
  border: none;
  border-radius: 7px;
  opacity: 1
}

.cookies-popup__cookies_popup_content--1sEO6 p {
  margin-right: 20px
}

.cookies-popup__text--1HwsG {
  color: #fff
}

.cookies-popup__text--1HwsG a {
  color: #fff;
  text-decoration: underline;
  font-family: SF Pro,-apple-system,BlinkMacSystemFont,Arial,Segoe UI,Roboto,Helvetica,Ubuntu,Cantarell,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}

.cookies-popup__btn--1h_ze {
  border: none;
  padding: 10px 20px
}

*,:after,:before {
  box-sizing: border-box
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset
}

body,html {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0
}

html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: 100%
}

body {
  font-size: 20px;
  font-weight: 400;
  background-color: #fff;
  font-style: normal
}

body,body input,body textarea {
  font-family: SF Pro,-apple-system,BlinkMacSystemFont,Arial,Segoe UI,Roboto,Helvetica,Ubuntu,Cantarell,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol
}

body.freeze {
  height: 100%;
  width: 100%
}

body.freeze,body.overflow {
  overflow: hidden
}

em {
  font-style: normal
}

strong {
  font-weight: 400
}

h1 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size:72px;
    letter-spacing: -1.8px
  }
}

@media screen and (max-width: 1023px) {
  h1 {
    font-size:64px;
    letter-spacing: -1.8px
  }
}

@media screen and (max-width: 767px) {
  h1 {
    font-size:44px;
    letter-spacing: -1.3px
  }
}

@media screen and (max-width: 479px) {
  h1 {
    font-size:44px;
    letter-spacing: -1.3px
  }
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size:60px;
    letter-spacing: -1.8px
  }
}

@media screen and (max-width: 1023px) {
  h2 {
    font-size:60px;
    letter-spacing: -1.8px
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size:40px;
    letter-spacing: -1.3px
  }
}

@media screen and (max-width: 479px) {
  h2 {
    font-size:40px;
    letter-spacing: -1.3px
  }
}

h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1
}

@media screen and (min-width: 1024px) {
  h3 {
    font-size:44px;
    letter-spacing: -1.8px
  }
}

@media screen and (max-width: 1023px) {
  h3 {
    font-size:44px;
    letter-spacing: -1.8px
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size:40px;
    letter-spacing: -1.3px
  }
}

@media screen and (max-width: 479px) {
  h3 {
    font-size:40px;
    letter-spacing: -1.3px
  }
}

h4 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1
}

@media screen and (min-width: 1024px) {
  h4 {
    font-size:26px;
    letter-spacing: -.3px
  }
}

@media screen and (max-width: 1023px) {
  h4 {
    font-size:24px;
    letter-spacing: -.3px
  }
}

@media screen and (max-width: 767px) {
  h4 {
    font-size:20px;
    letter-spacing: -.4px
  }
}

@media screen and (max-width: 479px) {
  h4 {
    font-size:20px;
    letter-spacing: -.3px
  }
}

a {
  text-decoration: none;
  color: #000
}

p {
  font-size: 20px;
  margin: 0;
  padding: 0
}

@media screen and (max-width: 479px) {
  p {
    font-size:18px
  }
}

ul {
  list-style: none;
  padding-left: 20px;
  margin-bottom: 30px;
  margin-top: 15px
}

ul li {
  margin-bottom: 32px;
  line-height: 1.13
}

ul li:before {
  content: "\2022";
  color: #0035a0;
  display: inline-block;
  width: 1em;
  margin-left: -1em
}

#app {
  overflow: hidden
}

#app>div:not(.no-padding) {
  padding-left: 40px!important;
  padding-right: 40px!important
}

@media screen and (max-width: 1023px) {
  #app>div:not(.no-padding) {
    padding-left:25px!important;
    padding-right: 25px!important
  }
}

@media screen and (max-width: 479px) {
  #app>div:not(.no-padding) {
    padding-left:20px!important;
    padding-right: 20px!important
  }
}

